/* Overall defaults */
* {
    border: none;
    font-size: 10px;
    font-family: "JetBrains Mono ExtraBold";
    color: #000000;
    min-height: 15px;
    padding: 1px;
    margin: 1px;
}

window#waybar {
    background: transparent;
}

/* Container styles */
.modules-left,
.modules-center,
.modules-right {
}

/* Module padding */
#pulseaudio,
#custom-spotify,
#network,
#custom-power,
#custom-updates,
#memory,
#workspaces,
#taskbar {
    padding: 2px;
    margin: 2px;
}

tooltip label {
    color: #ffffff;
}
/* //Padding and Customizations// */


/* clock */

#clock {
    margin-left: 3px;
}

/* spotify */

#custom-spotify {
    background-color: #008f32;
    color: #000000;
    min-width: 150px;
    border-radius: 5px;
    transition: all 250ms ease-in-out, background 0.2s ease, transform 25s ease;
}

#custom-spotify:hover {
    background-color: #003111;
    color: #ffffff;
}

/* audio */

#pulseaudio {
    background-color: #525252;
    color: #000000;
    min-width: 60px;
    border-radius: 5px;
    transition: all 250ms ease-in-out, background 0.2s ease, transform 25s ease;
}

#pulseaudio:hover {
    background-color: #000000;
    color: #ffffff;
}

/* network */

#network {
    background-color: #b3b3b3;
    color: #000000;
    min-width: 100px;
    border-radius: 5px;
    transition: all 250ms ease-in-out, background 0.2s ease, transform 25s ease;
}

#network:hover {
    background-color: #000000;
    color: #ffffff;
    transition: all 60ms ease-in-out, background 0.2s ease, transform 0.1s ease;
}

/* workspaces */

#workspaces {
    min-height: 25px;
    padding: 0;
    margin: 0;
    transition: all 250ms ease-in-out, background 0.2s ease, transform 25s ease;
}

#workspaces button {
    background: transparent;
}

#workspaces button.active {
    min-width: 50px;
    background-color: #000000;
    color: #ffffff;
}

#workspaces button.active label {
    color: #ffffff;
    padding: 0;
    margin: 0;
}

#workspaces button:hover {
    background-color: #535353;
    min-width: 40px;
}

/* update */

#custom-updates {
    transition: all 250ms ease-in-out, background 0.2s ease, transform 25s ease;
    min-width: 50px;
    background: #989fff;
    border-radius: 5px;
}

#custom-updates:hover {
    transition: all 60ms ease-in-out, background 0.2s ease, transform 0.1s ease;
    background: #000000;
    color: #ffffff;
}



