[Desktop Entry]
Name=★ GitHub
Exec=/home/braeden/.config/.scripts/github-launch.sh
Icon=/home/braeden/.local/share/icons/github.png
Terminal=false
Type=Application
Categories=Favorites;
